.loginPage {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    width: 100vw; 
    height: 100vh; 
    overflow: auto; 
}


.loginPageText {
    color: rgba(255, 255, 255, 1);
    font-family: "Roboto";
    margin-top: 20px;
    z-index: 1; 
    text-align: center; 
}
.mainPageBox {
    position: relative; 
    border-radius: 8px; 
    background-color: rgba(255, 255, 255, 0.766);
}