.mainPageBox {
    position: relative; 
    border-radius: 8px; 
    background-color: rgba(0, 0, 0, 0.5);
}

.passengersClass:hover {
    background-color: white !important;
  }
  


.mainPageBox .searchButton {
    height: 3.5rem; 
}


    
    
    
