.fullscreen {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
  }

  
  
  .full-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5); 
  }
  
  .text-container {
    text-align: center; 
    color: #fff;
    padding: 20px; 
  }