.transparent .MuiAppBar-root {
    background-color: transparent !important; 
}

.scrolled .MuiAppBar-root {
    background-color: white !important; 
    transition: background-color 0.3s;
}


.link {
    color: white; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.link:visited {
    color: white;
}

.link:focus, .link:active {
    color: white; 
}

.link:hover {
    color: #b5b5b3; 
}
  