.mainPageBox {
    position: absolute;
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 64%;
    height: 120px;
    border-radius: 8px; 
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
}
  

.searchButton {
    width: 9.5rem; 
    height: 3.5rem; 
    background: rgb(134, 71, 4);
    color: white;
    border-color: rgba(250, 149, 44, 0);
    margin-top: 7px;
}

.searchButton:hover {
    background: rgba(106, 59, 8, 0.8);
    border-color: rgba(250, 149, 44, 0);
}

.datePicker {
    margin-top: 0.5rem;
    /* width: 70% !important; */
    /* margin-right: -2rem; */
}


.inputs {
    width: 100%;
    margin-right: 6rem;
}